phase1/src/Aufgabe3/Aufgabe3c-Comments.xsd

<xsd:schema attributeFormDefault="unqualified" elementFormDefault="qualified" version="1.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="comments">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="rezept">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="comment" minOccurs="0">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="username" type="xsd:string" />
                    <xsd:element name="userid" type="xsd:int" />
                    <xsd:element name="userpic" type="xsd:string" />
                    <xsd:element name="userexpirience">
                      <xsd:complexType>
                        <xsd:attribute name="value" type="xsd:int" />
                      </xsd:complexType>
                    </xsd:element>
                    <xsd:element name="commentdate" type="xsd:dateTime" />
                    <xsd:element name="commentwertung">
                      <xsd:complexType>
                        <xsd:attribute name="value" type="xsd:int" />
                      </xsd:complexType>
                    </xsd:element>
                    <xsd:element name="text" type="xsd:string" />
                  </xsd:sequence>
                  <xsd:attribute name="id" type="xsd:int" />
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
            <xsd:attribute name="rezeptid" type="xsd:int" minOccurs="1" maxOccurs="1"/>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>